@charset "utf-8";

.lowerContent_col_text {
    font-size: 1.7rem;
    margin-bottom: 8px;
}
.lowerContent table.shopInfo {
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {

    .lowerContent_col_text {
        font-size: 1.5rem;
    }
}